$font-prefix: "./custom/path/to/font/files";
@import "node_modules/@ibm/plex/scss/ibm-plex.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", Courier, monospace;
}
